# Ignore system folders
.cache/
.ssh/
.npm/
.vscode/
.github/

# Python cache
__pycache__/
*.pyc

# Node
node_modules/

# Virtual environments
env/
venv/
ENV/

# Logs
*.log

# Secrets and credentials
*.pem
*.key
*.crt
